h1, h2, h3, h4, h5, h6 {
  font-family: 'Playball', cursive;
}

figcaption, ul, li {
  font-family: 'Oranienbaum', serif;
}

h2 {
  text-align: center;
}

/* image style */

figure  {
  margin: 0;
}

.banner {
  width: 100vw;
}

.creations img, .shop img {
  border-radius: 10px;
}

.creations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.shop {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-items: center;
}

@media screen and (max-width: 780px) {
  .navbar {
    display: none;
  }

  .shop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10%;
  }
}