h1, h2, h3, h4, h5, h6 {
  font-family: 'Playball', cursive;
}

figcaption, ul, li {
  font-family: 'Oranienbaum', serif;
}

h2 {
  text-align: center;
}

/* image style */

figure  {
  margin: 0;
}

.banner {
  width: 100%;
}

.img-creation img, .img-shop img {
  border-radius: 10px;
}

.img-creation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.img-shop {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding-left: 3%;
}