/* Shop style */
figure  {
  margin: 0;
}



/* Creations style */

h2 {
  text-align: center;
}

.img-creation img, .img-shop img {
  border-radius: 10px;
}

/* .caption-one {
  background: #000;
  color: #fff;
  position: absolute;
  max-width: 300px;
  bottom: 0;
  left:8%;
  right:0;
  text-align: center;
  padding-top: 1rem;
} */

/* Shop style */ 

.box-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 1.5%;
}

.box-top img {
  border-radius: 10px;
}

.shop-img {
  position: relative;
}

.eye {
  position:absolute;
  bottom: 70px;
  right: 20px;
}

.bag {
  position: absolute;
  bottom: 72px;
  right: 60px;
}

figcaption, p {
  text-align: center;
  padding: 0.5%;
}

p {
  margin: 0;
}

@media screen and (max-width: 780px) {
  .navbar {
    width: 100%;
  }

  .box-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10%;
  }
}
