@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&family=Playball&display=swap');

/* Body style */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playball', cursive;
}

figcaption, ul, li {
  font-family: 'Oranienbaum', serif;
}

/* Header */ 

header, footer {
  background-color: #202020;
  padding: 1%;
}

/* Navbar in home page */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.nav-left {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  gap: 20%;
}

.logo-header {
  display: grid;
  justify-content: center;
}

.nav-right {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20%;
}

/* image style */

figure  {
  margin: 0;
}

.banner {
  width: 100%;
}

/* Creations style */

h2 {
  text-align: center;
}

.img-creation img, .img-shop img {
  border-radius: 10px;
}

/* .caption-one {
  background: #000;
  color: #fff;
  position: absolute;
  max-width: 300px;
  bottom: 0;
  left:8%;
  right:0;
  text-align: center;
  padding-top: 1rem;
} */

.img-creation {
  display: grid;
  /* justify-items: center;
  align-content: center;
  justify-content: center; */
  grid-template-columns: repeat(3, 1fr);
  padding-left: 8%;
}

/* Shop style */ 

.img-shop {
  display: grid;
  grid-template-columns: repeat(4, auto);
  padding-left: 3%;
}

/* Video style  */ 
.video {
  text-align: center;
  padding: 3%;
}

/* Footer style */

footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 3%;
}

.footer-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  gap: 30%;
}




