/* Footer style */
footer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding: 3%;
}

.footer-link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  gap: 30%;
}

@media screen and (max-width: 780px) {

  footer {
    height: 35vh;
  }
  .logo-footer {
    display: none;
  }
  .footer-link {
    display: grid;
    grid-template-columns: 1fr;
    grid-column:  1 / -1;
    gap: 2%;
  }
}